@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Andika New Basic';
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

input {
  padding: 30px;
  border-color: transparent;
  text-align: center;
  font-size: 17px;
  font-family: inherit;
  width: 300px;
  height: 60px;
  background-color: #e3eaa7;
  border-radius: 10px;
}

input:hover{
  transition-delay: 0.5s;
  -webkit-transition: all .4s ease;
  box-shadow: 5px 10px #C0C0C0;
}

.cryptocurrency {
  display: flex;
  justify-content: center;
  padding: 20px;
}