.cryptoCollection {
	margin-top: 20px;
	margin-left: 20px;
	background-color: rgb(192, 192, 4);
	padding: 10px 20px 30px;
	width: 25em;
	height: 20em;
	overflow-y: auto;
	white-space: nowrap;
	position: absolute;
}

.cryptoItem {
	text-align: center;
	border-bottom: solid;
	border-bottom-color: blanchedalmond;
	padding: 10px 20px 30px;
}